.background
  .user
    = render 'layouts/user_profile'
  .post
    .box.all-posts#post-box
      - if @posts.any?
        %ul
          = render partial: 'post', collection: @posts, as: :post
      - else
        .no-posts
          = image_tag 'no_posts.png', alt: 'no posts'
          %p No posts available
          %p Follow some users to see their posts
