#users-box {
  width: 80%;
  margin: 30px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  li {
    .content {
      .p {
        line-height: 1.8;
      }

      span.name {
        font-weight: bold;
      }
    }
  }

  nav {
    display: flex;
    width: 160px;
    justify-content: space-between;

    a {
      color: $color-blue-button;
    }
  }

  .no-users {
    display: flex;
    align-items: center;
    margin-top: 10%;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;

      p {
        color: #575757;
        margin: 0;
      }

      #ops {
        margin-bottom: 20px;
      }
    }

    img {
      height: 40vh;
    }
  }
}

#users-box ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid $color-blue-3;
}

#users-box ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li#show-user {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color-blue-3;
  border-right: 1px solid $color-blue-3;
  border-left: 1px solid $color-blue-3;
  padding-top: 40px;

  a#profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: $color-blue-button;

    .content {  
      .p.account {
        padding-top: 2px;
      }

      .p.date { 
        padding: 2px 0 30px;
        font-size: medium;
      }
    }
  }
}
