#post-box {
  width: 80%;
  margin: 30px 8px;

  li {
    .content {
      .p {
        line-height: 1.8;
      }

      span.name {
        font-weight: bold;
      }
    }
  }

  li#back {
    border: 1px solid $color-blue-3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: underline;

    a {
      margin: 0 0 20px 40px;
      color: $color-blue-button;
    }
  }

  li#show-post {
    border-bottom: 1px solid $color-blue-3;
    border-right: 1px solid $color-blue-3;
    border-left: 1px solid $color-blue-3;
    padding-top: 40px;

    #post-info {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a#profile {
        height: 70px;
      }

      a#post {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: $color-blue-button;
        text-decoration: none;
      }

      .content {
        padding-right: 70px;
        width: 100%;

        .p.date {
          padding: 2px 0 30px;
          font-size: medium;
        }

        .p.account {
          padding-top: 2px;
        }

        .p.body {
          padding-bottom: 40px;
        }

        .image {
          display: flex;
          justify-content: center;

          .post-image {
            height: 100%;
            max-height: 300px;
            margin-bottom: 30px;
          }
        }
      }
    }

    #icons-post {
      margin-bottom: 40px;
      padding: 0 70px;

      .bi-trash3 {
        cursor: pointer;
      }

      #like-comment {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .like-form {
          margin-left: 10px;
        }
      }

      .warning-img {
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }

      #body {
        display: flex;
        justify-content: center;
        color: $color-gray-p;
      }

      .delete-button {
        background-color: $color-red-delete;
        color: white;
      }
    }

    .icons {
      display: flex;

      .bi-chat-left {
        cursor: pointer;
      }

      .icon-button {
        width: 28px;
        height: 28px;
        padding: 0;
        border: none;
        background-color: transparent;

        ::before {
          cursor: pointer;
          font-size: 28px;
          color: $color-blue-button;
        }
      }

      .bi-heart-fill::before {
        color: $color-red-like;
      }
    }
  }

  .no-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 10%;
    
    img {
      height: 40vh;
    }

    p {
      color: #575757;
    }
  }
}

#post-box.box.all-posts ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid $color-blue-3;
}

#post-box ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.post-comments-container {
  display: none;
  flex-flow: column;
  padding: 40px;
  border-top: 1px solid $color-blue-3;
  
  .title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    h5 {
      margin: 0;
    }

    .blue-box:nth-of-type(2) {
      margin-left: 20px;
    }
  }

  .comment {
    .comment-info{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;

      .img-container {
        margin-left: 0;
      }

      .content {
        flex-grow: 1;

        .comment-comments-container {
          display: none;
        }

        .title {
          font-size: small;

          .blue-box {
            width: 15px;
            height: 15px;
          }

          h5 {
            font-size: medium;
          }
        }
      }
      
    }

    .icons {
      width: 100%;
      margin: 10px 0 10px;

      .like-form {
        margin-left: 10px;
      }
    }
  }

  form {
    display: flex;
    align-items: center;

    h5 {
      white-space: nowrap;
    }

    .input {
      border: 1px solid $color-blue-3;
      border-radius: 10px;
      height: 50px; 
      padding: 5px 20px 0;
      color: $color-blue-button;
      width: 80%;
      margin: 0 20px;
    }
  }
}

.post-form {
  display: flex;
  margin-top: 20px;
}
