ul {
  li#personal_info {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $color-blue-3;
    border-right: 1px solid $color-blue-3;
    border-left: 1px solid $color-blue-3;
    padding: 40px 0;
    align-items: center;
  
    .content {
      .name {
        display: flex;
        align-items: center;

        #follow_form {
          margin-left: 20px;

          input {
            border-radius: 30px;
            font-size: medium;
          }
        }

        .account {
          margin-left: 15px;
        }
      }

      .dates {
        display: flex;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;

        span {
          margin-right: 20px;
          font-size: medium;
        }        

        .blue-box {
          background-color: $color-blue-3;
          border-radius: 5px;
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }

    .edit-profile {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 45px;
    }
  }

  #nav-tab {
    border-left: 1px solid;
    border-right: 1px solid;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-color: $color-blue-3;
  }

  .nav-tabs .nav-link {
    color: $color-blue-button;
    flex: 1;
    padding: 20px 0 30px;
    font-size: medium;

    p {
      font-size: x-large;
      margin-bottom: 0;
    }
  }

  .nav-tabs .nav-link.active {
    color: $color-blue-button;
    border: 1px solid $color-blue-3;
  }
}

