.sign-container {
    font-family: $font;
    font-size: large;
    margin: 5vh 1vw;
    display: flex;
    flex-flow: wrap column;
    align-content: center;

    .reg-form{
        width: 45%;
        max-width: 350px;

        .field {
            margin-top: 10px;
        }

        .input  {
            width: 100%;
            ::placeholder {
                color: #6c757d;
            }
            font-size: large;
        }

        input[type="file"] {
            display: none;
        }

        .error-message {
            margin: 0px;
            color: $color-error;
        }

        .actions {
            margin-top: 5px;
            display: flex;
            flex-direction: column;

            .blue-button {
                margin-top: 10px;
                width: 100%;
            }
            
            .gray-button {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}
