$color-blue-1: rgb(58 121 222 / 3%); /* lighter */
$color-blue-2: rgb(58 121 222 / 18%); 
$color-blue-3: rgb(58 121 222 / 31%); /* darker */

$color-error: #c41414;
$color-blue-button: #3e6c9b;
$color-blue-button-press: #2e6194;
$color-gray-button: #ededed;
$color-gray-button-press: #e3e3e3f2;
$color-no-fill-button-press: #f0f4f8;

$color-blue-placeholder: #3e6d9baa;

$color-red-like: #c94848;

$color-red-delete: #ff2a49f2;

$color-gray-p: #575757;

$font: Verdana, sans-serif;
