$color-blue-1: rgb(58 121 222 / 3%); /* lighter */
$color-blue-2: rgb(58 121 222 / 18%); 
$color-blue-3: rgb(58 121 222 / 31%); /* darker */

$color-error:rgb(196, 20, 20);
$color-blue-button: #3e6c9b;
$color-blue-button-press: #2e6194;
$color-gray-button: #ededed;
$color-gray-button-press: #e3e3e3;
$color-no-fill-button-press: #f5faff;

$font: Verdana, sans-serif;
