%nav.navbar
  .logo
    .logo-container
      = image_tag 'logo_neocoast.png', class: 'logo-img'
      %span.logo-name neoposts
  .search-bar
    %input.search-input{ type: 'text', class: 'form-control input' }
